* {
    font-family: 'Inter';
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

/* GLOBAL */

.section-header {
    color: #2A83DA;
    font-size: 50px;
    margin: 10px 0px;
    text-align: center;
}

section {
    padding: 0px 10px;
}

/* NAVBAR */

.main-nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.inner-nav {
    position: fixed;
    color: white;
    background-color: #2a82dae1;
    backdrop-filter: blur(6px);
    padding: 10px;
    height: 60px;
    max-width: 85%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 19px;
    z-index: 1;
}


.inner-nav ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 40px;
    align-items: center;
}

.inner-nav ul a {
    text-decoration: none;
    color: white;
}

.nav-menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-nav {
    position: fixed;
    color: white;
    background-color: #2a82dae1;
    backdrop-filter: blur(6px);
    padding: 10px;
    height: auto;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 19px;
    z-index: 1;
    margin-top: 70px;
    display: none;
}

.mobile-nav a {
    text-decoration: none !important;
}

.mobile-nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mobile-nav li {
    color: white;
}



/* HERO-SECTION */

.hero-section {
    margin: 90px 0px;
    padding: 70px 0px 0px 0px;
    height: 590px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    max-width: 740px;
    margin: 0px auto;
}

.hero-heading {
    text-align: center;
    max-width: 700px;
    margin: 0px auto;   
    font-weight: 300;
    font-size: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.hero-cta-button {
    font-size: 24px;
    color: white;
    height: 60px;
    width: 180px;
    background-color: #2A83DA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hero-image {
    /* background-color: #747474; */
    width: 240px;
    height: 300px;
    border-radius: 20px;
    /* position: absolute; */
    z-index: -1;
    transform:  rotate(-5deg);
    left: 140px;
    bottom: 530px;
    /* margin-top: 100px; */
    overflow: hidden;
}
.hero-image-2 {
    /* background-color: #747474; */
    width: 240px;
    height: 300px;
    border-radius: 20px;
    /* position: absolute; */
    z-index: -1;
    transform:  rotate(7deg);
    left: 140px;
    bottom: 530px;
    margin-bottom: 120px;
    overflow: hidden;
}
/* REVIEW SECTION */

.review-carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 7px;
    
}

.review-carousel-track {
    display: flex;
    gap: 7px;
    animation: scroll 10s linear infinite;
    will-change: transform;
}

.review-carousel-track a {
    text-decoration: none !important;
    color: black;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.review-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 320px;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    padding: 20px 20px;
    /* cursor: pointer; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    
}

.review-carousel-wrapper:hover .review-carousel-track {
    animation-play-state: paused;
    
}

.review-person-name {
    font-size: 26px;
    text-align: center;
    margin: 0px;
    color: #747474;
}

.review-stars {
    text-align: center;
    color: #ffd900;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.review-description p {
    font-size: 27px;
    text-align: center;
    margin: 10px 0px auto 0px;
    font-weight: 700;
}

/* ABOUT SECTION */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    margin: 70px 0px;
}

.about-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-main {
    color: #2A83DA;
    font-size: 70px;
    margin: 0px;
}

.stat-second {
    font-size: 30px;
    margin: 0px;
}

.about-main {
    background-color: #efefef68;
    max-width: 700px;
    border-radius: 30px;
    padding: 20px;
    min-height: 300px;
    height: 300px;
    flex: 1 1;
    margin: 0px 30px
}

.about-header {
    color: #2A83DA;
    font-size: 50px;
    margin: 10px 0px;
}

.about-text {
    font-size: 20px;
}

.about-img {
    background-color: #efefef68;
    border-radius: 30px;
    height: 340px;
    width: 340px;
    flex: 1 1 340px;
    max-width: 740px;   
}

/* SERVICES */


.services-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.service {
    background-color: #2A83DA;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-header {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.service-text {
    font-size: 17px;
    text-align: center;
}

.service-small-text {
    display: none;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

/* GALLERY */

.gallery-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-media {
    display: flex;
    gap: 10px;
    max-height: 420px;
    width: 1000px;
    max-width: 100%;
    justify-content: start;
    padding: 20px 30px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.student-pass-container {
    background-color: #efefef68;
    width: 300px;
    padding: 10px;
    height: 400px;
    transition: transform 0.3s ease;
    /* transform: translateX(-300px); */
}

.student-pass-container p {
    font-size: 20px;
}

.student-details {
    text-align: center;
}

.img-1 {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #dcdcdc;
    object-fit:cover;
}

.video-1 {
    width: 270px;
    height: 400px;
    border-radius: 20px;
    background-color: #dcdcdc;
    object-fit:cover;
}

.gallery-buttons button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 10px;
}

/* QUESTION SECTION */

.question-section {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    background-color: #efefef68;
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    min-height: 400px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-container details {
    background-color: #2A83DA;
    color: white;
    margin: 1px;
    font-size: 23px;
    padding: 20px;
}

.question-container details:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.question-container details:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* FOOTER */

footer {
    width: 100vw;
    min-height: 50px;
    background-color: #2A83DA;
    z-index: 3;
    color: white;
    padding: 20px 0px;
}

footer p {
    margin: 0px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.logo-plus {
    display: flex;
    gap: 20px;
}

.details-plus {
    font-size: 0.9rem;
}

.details-plus ul {
    display: flex;
    gap: 25px;
    text-decoration: none;
    color: white;
    list-style: none;
}
.details-plus li {
    text-decoration: none;
    color: white;
    list-style: none;
}

.details-plus a {
    text-decoration: none;
    color: white;
    list-style: none;
}

.logo-plus svg {
    cursor: pointer;
}

.bottom-footer {
    text-align: left;
    font-size: 0.9rem;
    padding: 0px 30px;
}



/* MEDIA QUERIES 770PX CUTOFF */

@media (max-width: 1500px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }
    .about-stats.passed {
        order: 2;
    }
}
@media (max-width: 1080px) {
    .question-container details {
        font-size: 19px;
    }
}

@media (max-width: 770px) {
    .nav-item {
        display: none;
    }
    .nav-menu-button {
        display: block;
    }
    .section-header {
        font-size: 30px;
    }
    .inner-nav {
        height: 45px;
        font-size: 16px;
        width: 200px;
    }
    h1 {
        font-size: 40px;
    }
    .hero-section {
        padding-top: 20px;
        height: 200px;
    }
    .hero-heading {
        font-size: 20px;
    }
    .hero-cta-button {
        height: 40px;
        width: 140px;
        font-size: 18px;
    }
    .review-card {
        width: 250px;
        height: 220px;
    }
    .review-stars {
        width: 170px;
        height: 170px;
        margin: 0px auto;
    }
    .review-description p{
        font-size: 20px;
    }
    .review-person-name {
        font-size: 20px;
    }
    .service {
        width: 100%;
        min-height: 100px;
        padding: 20px 10px;
        justify-content: baseline;
        height: auto;
        gap: 10px;
    }
    .service-text {
        display: none;
    }
    .service-small-text {
        order: 2;
        display: inline;
    }
    .service svg {
        width: 30px;
        height: 30px;
        order: 3;
    }
}
