* {
    font-family: 'Inter';
}

body {
    /* background-color: red; */
}

/* NAVBAR */

.main-nav {
    display: flex;
    justify-content: center;
}

.inner-nav {
    position: fixed;
    color: white;
    background-color: #2A83DA;
    padding: 10px;
    height: 60px;
    max-width: 85%;
    border-radius: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 19px;
}


.inner-nav ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 40px;
}

/* HERO-SECTION */

.hero-section {
    margin: 90px 0px;
    padding: 70px 0px 0px 0px;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    max-width: 740px;
    margin: 0px auto;
}

.hero-heading {
    text-align: center;
    max-width: 700px;
    margin: 0px auto;   
    font-weight: 300;
    font-size: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.hero-cta-button {
    font-size: 24px;
    color: white;
    height: 60px;
    width: 180px;
    background-color: #2A83DA;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

/* REVIEW SECTION */




/* MEDIA QUERIES 770PX CUTOFF */

@media (max-width: 770px) {
    .inner-nav {
        height: 45px;
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
    }
    .hero-heading {
        font-size: 20px;
    }
}
