* {
    font-family: 'Inter';
}

html, body {
    margin: 0;
    padding: 0;
}

/* GLOBAL */

.section-header {
    color: #2A83DA;
    font-size: 50px;
    margin: 10px 0px;
    text-align: center;
}

section {
    padding: 0px 10px;
}

/* NAVBAR */

.main-nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.inner-nav {
    position: fixed;
    color: white;
    background-color: #2a82dae1;
    backdrop-filter: blur(6px);
    padding: 10px;
    height: 60px;
    max-width: 85%;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 19px;
    /* border-top: 1px solid white; */
    z-index: 1;
}


.inner-nav ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px 40px;
}

/* HERO-SECTION */

.hero-section {
    margin: 90px 0px;
    padding: 70px 0px 0px 0px;
}

h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    max-width: 740px;
    margin: 0px auto;
}

.hero-heading {
    text-align: center;
    max-width: 700px;
    margin: 0px auto;   
    font-weight: 300;
    font-size: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
}

.hero-cta-button {
    font-size: 24px;
    color: white;
    height: 60px;
    width: 180px;
    background-color: #2A83DA;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

/* REVIEW SECTION */

.review-carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 7px;
    
}

.review-carousel-track {
    display: flex;
    gap: 7px;
    animation: scroll 10s linear infinite;
    will-change: transform;
    
    
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.review-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 320px;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    padding: 20px 20px;
    /* cursor: pointer; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    
}

.review-carousel-wrapper:hover .review-carousel-track {
    animation-play-state: paused;
    
}

.review-person-name {
    font-size: 26px;
    text-align: center;
    margin: 0px;
    color: #747474;
}

.review-stars {
    text-align: center;
    color: #ffd900;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.review-description p {
    font-size: 27px;
    text-align: center;
    margin: 10px 0px auto 0px;
    font-weight: 700;
}

/* ABOUT SECTION */

.about-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 70px 0px;
}

.about-main {
    background-color: #efefef68;
    max-width: 700px;
    border-radius: 30px;
    padding: 20px;
    min-height: 300px;
    flex: 1 1 700px;
}

.about-header {
    color: #2A83DA;
    font-size: 50px;
    margin: 10px 0px;
}

.about-text {
    font-size: 20px;
}

.about-img {
    background-color: #efefef68;
    border-radius: 30px;
    height: 340px;
    width: 340px;
    flex: 1 1 340px;
    max-width: 740px;   
}

/* SERVICES */


.services-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.service {
    background-color: #2A83DA;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-header {
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.service-text {
    font-size: 17px;
    text-align: center;
}

.service-small-text {
    display: none;
    font-size: 17px;
    text-align: center;
    margin: 0px;
}

/* GALLERY */

.gallery-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-media {
    display: flex;
    gap: 10px;
    max-height: 420px;
    width: 1000px;
    max-width: 100%;
    justify-content: start;
    padding: 20px 30px;
    overflow: hidden;
    /* border: 1px solid black; */
}

.student-pass-container {
    background-color: #efefef68;
    width: 300px;
    padding: 10px;
    height: 400px;
    transition: transform 0.3s ease;
    /* transform: translateX(-300px); */
}

.student-pass-container p {
    font-size: 20px;
}

.student-details {
    text-align: center;
}

.img-1 {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #dcdcdc;
    object-fit:cover;
}

.video-1 {
    width: 270px;
    height: 400px;
    border-radius: 20px;
    background-color: #dcdcdc;
    object-fit:cover;
}

.gallery-buttons button {
    border: none;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 10px;
}

/* CONTACT SECTION */

.contact-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.contact-main {
    background-color: #efefef68;
    max-width: 700px;
    border-radius: 30px;
    padding: 20px;
    min-height: 300px;
    flex: 1 1 700px;
}


.contact-text {
    font-size: 20px;
}

/* FOOTER */

footer {
    width: 100vw;
    min-height: 50px;
    background-color: #2A83DA;
    z-index: 3;
}

footer p {
    margin: 0px;
}

/* MEDIA QUERIES 770PX CUTOFF */

@media (max-width: 770px) {
    .section-header {
        font-size: 30px;
    }
    .inner-nav {
        height: 45px;
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
    }
    .hero-section {
        padding-top: 20px;
    }
    .hero-heading {
        font-size: 20px;
    }
    .hero-cta-button {
        height: 40px;
        width: 140px;
        font-size: 18px;
    }
    .review-card {
        width: 250px;
        height: 220px;
    }
    .review-stars {
        width: 170px;
        height: 170px;
        margin: 0px auto;
    }
    .review-description p{
        font-size: 20px;
    }
    .review-person-name {
        font-size: 20px;
    }
    .service {
        width: 100%;
        min-height: 100px;
        padding: 20px 10px;
        justify-content: baseline;
        height: auto;
    }
    .service-text {
        display: none;
    }
    .service-small-text {
        display: inline;
    }
}
